---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b0137c0cc498f4cb7fca105accc445a4&lat=39.73&lon=-104.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655101888,"sunrise":1655119890,"sunset":1655173725,"temp":294.95,"feels_like":294,"pressure":1000,"humidity":31,"dew_point":277.09,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":179,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1655101920,"precipitation":0},{"dt":1655101980,"precipitation":0},{"dt":1655102040,"precipitation":0},{"dt":1655102100,"precipitation":0},{"dt":1655102160,"precipitation":0},{"dt":1655102220,"precipitation":0},{"dt":1655102280,"precipitation":0},{"dt":1655102340,"precipitation":0},{"dt":1655102400,"precipitation":0},{"dt":1655102460,"precipitation":0},{"dt":1655102520,"precipitation":0},{"dt":1655102580,"precipitation":0},{"dt":1655102640,"precipitation":0},{"dt":1655102700,"precipitation":0},{"dt":1655102760,"precipitati[...]
